// Fonts
//
// Custom Fonts.
@font-face{
    font-family: benoit;
    src: url('../fonts/benoit.ttf');
}
/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/


// Variables
//
// Main Variables.
$main-logo-height: 100px;
$overlayColor: rgba(28,167,212,0.2);
$paragraph-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$main-padding: 1.618rem;
$right-text-shadow: 3px 3px 5px #000000;
$left-text-shadow: -3px 3px 5px #000000;

/*$features-list:
    milk-products,
    cold,
    sensor,
    spreadsheet;*/


// Typography
//
// Font faces.
.azteca-title{
    font-family: benoit;
    font-size: 2rem;
    color: $azteca-marron;
    text-align: center;
    padding: $main-padding 0px;
    letter-spacing: 2px;
}
.azteca-subtitle{
    @extend .azteca-title;
    font-size: 2rem * 0.618;
    letter-spacing: 2px;
}
.azteca-paragraph{
    font-family: $paragraph-font;
    font-size: 1rem;
    text-align: justify;
    line-height: ((2rem * 0.618) * 2) / 2;
    letter-spacing: 1px;
}
.azteca-heading-white{
    @extend .azteca-title;
    color: white;
    text-shadow: $right-text-shadow;
    letter-spacing: 2px;
}
.azteca-heading{
    @extend .azteca-title;
    color: $azteca-dark-orange;
    font-size: 2.618rem;
    text-shadow: $right-text-shadow;
    letter-spacing: 2px;
}


// Buttons
//
// Custom button styles.
.btn{
    font-family: $paragraph-font;
    border-radius: 1.6em;
    padding: 0.5rem 2rem;
}
.btn-white-outline {
  background-color: rgba(255,255,255,0);
  border-color: #fff;
  color: #fff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline:active,
.btn-white-outline.active {
  color: $azteca-marron;
  background-color: rgba(255,255,255,1);
  border-color: #fff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: $azteca-marron !important;
  background-color: rgba(255,255,255,1) !important;
  border-color: #fff !important;
}
.btn-azteca-outline{
    background-color: white;
    border-color: $azteca-marron;
    color: $azteca-marron;
    @include transition(0.5s);
    
    &:hover, &:focus, &.focus, &:active, &.active{
        color: white;
        background-color: $azteca-marron;
    }
}


// Modals
//
// Custom modal windows.
.modal-header{
    background: $azteca-marron;
    font-family: benoit;
    font-size: 2rem;
    color: white;
}
.modal-body{
    font-family: $paragraph-font;
    
    th{
        font-size: 1.3rem;
    }
    
    td:nth-child(2){
        text-align: center;
    }
}


// Navbar
//
// Navigation.
section#main-logo{
    height: $main-logo-height;
    background: $azteca-yellow;
    
    img{
        height: $main-logo-height * 0.8;
        width: auto;
        padding-top: $main-logo-height * 0.1;
        
    }
}

.navbar{
    background: $azteca-dark-orange;
    text-align: center;
    font-family: benoit;
    
    li:hover{
        background: darken($azteca-dark-orange, 5%);
        color: lighten($navbar-light-color, 10%);
        @include transition(0.5s);
    }
}


// Galleria
//
// Main slideshow.
section#galleria{
    height: 300px;
    
    .slides{
        height: 300px;
        width: 100%;
    }
}

.overlay{
    background-color: $overlayColor;
    bottom:0;
    left:0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    
    ~ *{
        z-index: 2;
    }
}


// Summary
//
// Brief description.
section#summary{
    background: $azteca-dark-orange;
    color: set-text-color($azteca-dark-blue);
    padding: $main-padding 0px;
    font-family: $paragraph-font;
    
    p{
        text-align: justify;
    }
    
    h3{
        font-family: benoit;
        text-align: center;
    }
    
    img.down-arrow{
        position: relative;
        bottom: 0px;
        
        @include scrollAnim(2s);
    }
}


// Features
//
// Our main features.
section#features{
    padding: $main-padding 0px;
    
    .icomoon{
        font-size: 7rem;
    }
    
    h1{
        text-align: center !important;
    }
    
    .card{
        width: 100%;
        border: 0px;
        padding: $main-padding 0px;
        
        img{
            width: 50%;
        }
    }
    
    .card-text{
        font-family: $paragraph-font;
        text-align: center;
    }
}


// Links
//
// Links to prodcuts & services.
section#links{
    margin: 2rem 0px $main-padding 0px !important;
    
    h3{
        font-family: benoit;
        color: $white;
        text-shadow: $left-text-shadow;
        
        #right{
            text-shadow: $right-text-shadow;
        }
    }
    
    .link-images{
        height: 250px;
        padding: $main-padding;
        width: 100%;
        background-position: right bottom;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }
    
    #vending-link{
        background-image: url(../img/vending.png);
    }
    
    #productos-link{
        background-image: url(../img/seeds.png);
    }
}


// Process
//
// How do we do it?
section#process{
    padding: $main-padding 0px 0px 0px;
    
    h2{
        padding-bottom: 0px;
    }
    
    small{
        font-family: $paragraph-font;
        color: $azteca-brown;
        font-size: 0.9rem;
    }
    
    .card{
        width: 100%;
        border: 0px;
        
        img{
            width: 38.2%;
            padding-top: 1rem;
        }
    }
    
    .card-text{
        font-family: $paragraph-font;
        text-align: center;
    }
}


// Customers
//
// Our clients
section#customers{
    padding: $main-padding 0px;
}
.customers-animation:hover{
    @include customersAnim();
}


// Vending Heading
//
// Vending Machine Heading
section#vending-heading{
    height: 300px;
    background: transparent;
    
    heading{
        width: 100%;
    }
}


// Vending Slideshow
//
// Vending Machine Images
section#vending-gallery{
    padding: $main-padding 0px;
    
    #vending-carousel{
        width: 100%;
        max-width: 540px;
    }
}


// Vending Features
//
// Vending Machine Main Features
section#vending-features{
    background: $azteca-dark-orange;
    color: white;
    padding: $main-padding 0px;
    
    h2{
        color: white;
    }
    
    .card{
        background: none;
        border: 0px;
        
        img{
            width: 50%;
        }
    }
    
    .card-text{
        font-family: $paragraph-font;
        text-align: center;
    }
    
    /*@for $i from 1 through 4{
        .icon-#{nth($features-list, $i)}:before{
            color: white;
            font-size: 6rem;
        }
    }*/
}


// Vending Products
//
// Brands of products
section#vending-products{
    padding: $main-padding 0px;
    
    h3{
        font-size: 1.38rem;
    }
    
    img.discount-icon{
        height: 3.5rem;
        @include arrowAnim(2s);
    }
    
    .modal-buttons-group{
        margin-bottom: 0.382rem;
        
        button{
            margin-bottom: 0.382rem;
        }
    }
}
div.modal{
    td:nth-child(2){
        font-size: 1.2rem;
        color: $azteca-brown;
    }
    tr:hover{
        background: $azteca-marron;
        color: white;
        @include transition(0.2s);
        
        td{
            color: white;
        }
    }
}


// Products Heading
//
// Azteca Products Heading
section#products-heading{
    height: 300px;
    background: transparent;
    
    heading{
        width: 100%;
    }
}


// Products Slideshow
//
// Azteca Products Images
section#products-gallery{
    padding: $main-padding 0px;
    
    #products-carousel{
        width: 100%;
        max-width: 960px;
    }
}


// Products Description
//
// Azteca Products brief intro.
section#products-description{
    padding: $main-padding 0px;
    
    img{
        border-radius: 0.618rem;
    }
}


// Azteca Heading
//
// Tierra Azteca Heading
section#azteca-heading{
    height: 300px;
    background: transparent;
    
    heading{
        width: 100%;
    }
}


// Azteca About
//
// Tierra Azteca Description
section#azteca-about{
    padding: $main-padding 0px;
    color: white;
    background: $azteca-dark-orange;
    
    h2{
        color: white;
        text-align: left;
    }
    
    img{
        border-radius: 0.618rem;
    }
}


// Azteca Mission
//
// Tierra Azteca Values & Goals
section#azteca-mission{
    padding: $main-padding 0px;
    
    a{
        font-weight: bold;
        color: $azteca-brown;
    }
    
    .card{
        width: 100%;
        border: 0px;
        
        img{
            width: 50%;
            margin-bottom: 1rem;
        }
    }
    
    h3{
        padding: 0px;
        margin-top: -20px;
    }
    
    .card-text{
        font-family: $paragraph-font;
        text-align: justify;
    }
}


// Azteca Proposition & history
//
// Tierra Azteca Value Proposition
section#proposition,
section#azteca-history,
section#confirm{
    padding: $main-padding 0px;
}


// Contact Heading
//
// Contact heading
section#contact-heading{
    height: 300px;
    background: transparent;
    
    heading{
        width: 100%;
    }
}


// Contact Blue Slogan
//
// Contact blue slogan
section#blue-slogan{
    background: $azteca-dark-orange;
    padding: $main-padding 0px;
    
    h3{
        color: white;
    }
}


// Contact Form
//
// Contact form and map
section#contacto{
    padding: $main-padding 0px;
    font-family: $paragraph-font;
    
    input, textarea{
        font-family: $paragraph-font;
        
        &:focus{
            box-shadow: 0 2px 3px 1px $azteca-brown;
        }
    }
    
    iframe{
        border-radius: 0.618rem;
        border: 2px solid darken($azteca-brown, 10%);
    }
    
    a{
        color: $azteca-marron;
        
        &:hover{
            color: $azteca-brown;
        }
    }
}


// Write Us
//
// Call to Message
section#write-us{
    padding: 0px 0px $main-padding 0px;
    
    small{
        margin-bottom: $main-padding;
        font-style: italic;
    }
}


// Slogan
//
// Tagline
section#slogan{
    background: $azteca-dark-orange;
    padding: $main-padding 0px;
    
    img{
        height: 5rem;
        width: auto;
    }
    
    h2{
        color: white;
    }
}


// Footer
//
// Contact Info
footer{
    background: $azteca-brown;
    padding: $main-padding 0px;
    color: white;
    font-family: $paragraph-font;
    
    h5{
        font-weight: bolder;
    }
    
    a{
        color: white;
        text-decoration: underline;
        
        &:hover{
            color: $azteca-orange;
        }
    }
    
    ul.nav{
        padding-top: $main-padding;
        
        a{
            padding: 0px 1rem;
        }
    }
    
    #copyright{
        padding-top: $main-padding;
        font-size: 0.9rem;
    }
    
    #developer{
        font-size: 0.618rem;
    }
}


// Coming Soon
//
// Hero page
section#coming{
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s0db32a7c6e92eca7/background/ic58d6b3b5009bbe7/version/1430982694/image.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}