// Fonts
//
// Custom Fonts.
@font-face{
    font-family: cheltenhm-title;
    src: url('../fonts/CHLTHMB.TTF');
}
@font-face{
    font-family: cheltenhm-text;
    src: url('../fonts/CHLTHMN.TTF');
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/


// Variables
//
// Main Variables.
$main-logo-height: 120px;
$overlayColor: rgba(255,229,72,0.15);
$paragraph-font: 'Open Sans', sans-serif;
$main-padding: 1.618rem;
$right-text-shadow: 3px 3px 5px #000000;
$left-text-shadow: -3px 3px 5px #000000;

$modularscale: (
    base: 1rem,
    ratio: $fourth
);

/*$features-list:
    milk-products,
    cold,
    sensor,
    spreadsheet;*/


// Typography
//
// Font faces.
.azteca-title{
    font-family: cheltenhm-title;
    font-size: ms(3);
    color: $azteca-marron;
    text-align: center;
    padding: $main-padding 0px;
    letter-spacing: 2px;
}
.grupoa-title{
    @extend .azteca-title;
    color: $azteca-dark-blue;
}
.vending-title{
    @extend .azteca-title;
    color: $azteca-dark-green;
}
.azteca-subtitle{
    @extend .azteca-title;
    font-size: ms(2);
    letter-spacing: 2px;
}
.vending-subtitle{
    @extend .azteca-title;
    font-size: ms(2);
    letter-spacing: 2px;
    color: $azteca-dark-green;
}
.azteca-paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: ms(0);
    text-align: justify;
    letter-spacing: 1px;
    font-weight: 300;
}
.azteca-lead{
    @extend .azteca-paragraph;
    font-size: ms(1);
    font-weight: 400;
}
.vending-lead{
    @extend .azteca-paragraph;
    font-size: ms(1);
    font-weight: 400;
    color: $azteca-dark-green;
}
.azteca-heading-white{
    @extend .azteca-title;
    color: white;
    text-shadow: $right-text-shadow;
    letter-spacing: 2px;
}
.azteca-heading{
    @extend .azteca-title;
    color: $azteca-dark-orange;
    font-size: ms(4);
    text-shadow: $right-text-shadow;
    letter-spacing: 2px;
}
.grupoa-heading{
    @extend .azteca-heading;
    color: $azteca-blue;
}
.vending-heading{
    @extend .azteca-heading;
    color: $azteca-green;
}
.azteca-footer{
    @extend .azteca-paragraph;
    font-size: ms(-1);
}
.azteca-list{
    @extend .azteca-paragraph;
    list-style-image: url(../gph/info.png);
}
b{
    color: $azteca-dark-green;
    font-weight: bolder;
}
.blockquote{
    font-family: $paragraph-font;
    font-weight: 300;
    font-style: italic;
    font-size: ms(0);
    letter-spacing: 0.5px;
    border-color: $azteca-dark-blue;
}


// Buttons
//
// Custom button styles.
button:hover{
    cursor: pointer;
}
.btn{
    font-family: $paragraph-font;
    border-radius: 1.6em;
    padding: 0.5rem 2rem;
}
.btn-white-outline {
  background-color: rgba(255,255,255,0);
  border-color: #fff;
  color: #fff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline:active,
.btn-white-outline.active {
  color: $azteca-marron;
  background-color: rgba(255,255,255,1);
  border-color: #fff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: $azteca-marron !important;
  background-color: rgba(255,255,255,1) !important;
  border-color: #fff !important;
}
.btn-azteca-outline{
    background-color: white;
    border-color: $azteca-marron;
    color: $azteca-marron;
    @include transition(0.5s);

    &:hover, &:focus, &.focus, &:active, &.active{
        color: white;
        background-color: $azteca-marron;
    }
}
.btn-grupoa-outline{
    background-color: white;
    border-color: $azteca-dark-blue;
    color: $azteca-dark-blue;
    @include transition(0.5s);

    &:hover, &:focus, &.focus, &:active, &.active{
        color: white;
        background-color: $azteca-dark-blue;
    }
}
.btn-vending-outline{
    background-color: white;
    border-color: $azteca-dark-green;
    color: $azteca-dark-green;
    @include transition(0.5s);

    &:hover, &:focus, &.focus, &:active, &.active{
        color: white;
        background-color: $azteca-dark-green;
    }
}
.btn-vending{
    background-color: $azteca-green;
    border-color: $azteca-green;
    color: white;
    @include transition(0.5s);

    &:hover, &:focus, &.focus, &:active, &.active{
        color: white;
        background-color: $azteca-dark-green;
    }
}


// Modals
//
// Custom modal windows.
.modal-header{
    background: $azteca-dark-green;
    font-family: $paragraph-font;
    font-size: 2rem;
    color: white;
}
.modal-body{
    font-family: $paragraph-font;

    th{
        font-size: 1.3rem;
    }

    td:nth-child(2){
        text-align: center;
    }
}


// Navbar
//
// Navigation.
section#main-logo{
    height: $main-logo-height;
    background: url(../gph/heading.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;

    img{
        transform: translateY(15%);
        z-index: 999 !important;
    }

    nav{
        height: 100%;

        a{
            color: white;
            margin-left: 1rem;
            padding: 0px 0.3rem;
            line-height: $main-logo-height;
            font-family: cheltenhm-title;
            letter-spacing: 0.5px;

            &:hover{
                background: $azteca-marron;
                text-decoration: none;
                @include transition(0.3s);
            }
        }

        a.active{
            background: $azteca-marron;
        }
    }
}
section#blue-logo{
    @extend section#main-logo;
    background: url(../gph/blue-heading.jpg);

    img{
        transform: translateY(5%);
    }

    a:hover,
    a.active{
        background: $azteca-dark-blue !important;
    }
}
section#green-logo{
    @extend section#main-logo;
    background: url(../gph/green-heading.jpg);

    img{
        transform: translateY(10%);
    }

    nav{
        a:hover,
        a.active{
            background: $azteca-dark-green !important;
        }
    }
}


.navbar{
    background: $azteca-dark-orange;
    text-align: center;
    font-family: cheltenhm-title;

    li:hover{
        background: darken($azteca-dark-orange, 5%);
        color: lighten($navbar-light-color, 10%);
        @include transition(0.5s);
    }
}


// Galleria
//
// Main slideshow.
section#index-carousel{
    height: 100vh;
    width: 100%;
    background: black;
}
div#carouselExampleSlidesOnly{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    overflow: hidden;
}
div.overlay-index{
    position: absolute;
    background-image: url('../gph/pattern.png');
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    color: white;

    img.down-arrow{
        position: relative;
        bottom: 0px;

        @include scrollAnim(2s);
    }
}
.index-box{
    background-color: rgba(0,0,0,0.2);
    outline: 2px dotted white;
    padding: 2rem;

    &:hover{
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        @include transition(0.5s);
    }
}
section#galleria{
    height: 70vh;

    .slides{
        height: 70vh;
        width: 100%;
    }
}

.overlay{
    background-color: $overlayColor;
    bottom:0;
    left:0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;

    ~ *{
        z-index: 2;
    }
}
.green-overlay{
    @extend .overlay;
    background-color: $azteca-green;
}


// Summary
//
// Brief description.
section#summary{
    background: $azteca-dark-orange;
    color: set-text-color($azteca-dark-blue);
    padding: $main-padding 0px;
    font-family: $paragraph-font;

    p{
        text-align: justify;
    }

    h3{
        font-family: cheltenhm-title;
        text-align: center;
    }
}
section#green-summary{
    @extend section#summary;
    background: $azteca-green;
}


// Features
//
// Our main features.
section#features{
    padding: $main-padding 0px;

    .icomoon{
        font-size: 7rem;
    }

    h1{
        text-align: center !important;
    }

    .card{
        width: 100%;
        border: 0px;
        padding: $main-padding 0px;

        img{
            width: 50%;
        }
    }

    .card-text{
        font-family: $paragraph-font;
        text-align: center;
    }
}


// Links
//
// Links to prodcuts & services.
section#links{
    margin-bottom: $main-padding !important;
    padding: 0px;

    h3{
        font-family: cheltenhm-title;
        color: $white;
        text-shadow: $left-text-shadow;

        #right{
            text-shadow: $right-text-shadow;
        }
    }

    .link-images{
        height: 250px;
        padding: $main-padding;
        width: 100%;
    }

    #vending-link{
        background-image: url(../img/index-features/link-machines.jpg);
        background-position: right bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #productos-link{
        background-image: url(../img/index-features/link-products.jpg);
        background-position: left bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


// Process
//
// How do we do it?
section#process{
    padding: $main-padding 0px 0px 0px;

    h2{
        padding-bottom: 0px;
    }

    small{
        font-family: $paragraph-font;
        color: $azteca-dark-blue;
        font-size: 0.9rem;
    }

    .card{
        width: 100%;
        border: 0px;

        img{
            width: 38.2%;
            padding-top: 1rem;
        }
    }

    .card-text{
        font-family: $paragraph-font;
        text-align: center;
    }
}


// Customers
//
// Our clients
section#customers{
    padding: 0px 0px $main-padding 0px;
}
.customers-animation:hover{
    @include customersAnim();
}


// Headings
//
// Parallax heading
section#vending-heading,
section#products-heading,
section#azteca-heading,
section#contact-heading,
section#eventos-heading,
section#tips-heading{
    height: 330px;
    background: transparent;

    heading{
        width: 100%;
    }
}


// Vending Slideshow
//
// Vending Machine Images
section#vending-gallery{
    padding: $main-padding 0px;

    #vending-carousel{
        width: 100%;
        max-width: 370px;
        height: auto;
        max-height: 600px;
    }
}


// Vending Features
//
// Vending Machine Main Features
section#vending-features{
    background: $azteca-dark-green;
    color: white;
    padding: $main-padding 0px;

    h2{
        color: white;
    }

    .card{
        background: none;
        border: 0px;

        img{
            width: 50%;
        }
    }

    .card-text{
        font-family: $paragraph-font;
        text-align: center;
    }

    /*@for $i from 1 through 4{
        .icon-#{nth($features-list, $i)}:before{
            color: white;
            font-size: 6rem;
        }
    }*/
}


// Vending Products
//
// Brands of products
section#vending-products{
    padding: $main-padding 0px;

    h3{
        font-size: 1.38rem;
    }

    img.discount-icon{
        height: 3.5rem;
        @include arrowAnim(2s);
    }

    .modal-buttons-group{
        margin-bottom: 0.382rem;

        button{
            margin-bottom: 0.382rem;
        }
    }
}
div.modal{
    td:nth-child(2){
        font-size: 1.2rem;
        color: $azteca-dark-green;
    }
    thead:hover tr{
        background: white;
        color: black;
    }
    tr:hover{
        background: $azteca-dark-green;
        color: white;
        @include transition(0.2s);

        td{
            color: white;
        }
    }
}


// Products Slideshow
//
// Azteca Products Images
section#products-gallery{
    padding: $main-padding 0px;

    #products-carousel{
        width: 100%;
        max-width: 600px;
        height: auto;
        max-height: 370px;
    }
}


// Products Description
//
// Azteca Products brief intro.
section#products-description,
section.tips-alimentacion{
    padding: $main-padding 0px;

    img{
        border-radius: 0.618rem;
    }
}


// Healthy Project
//
// Vending machines proposal.
section#healthy-project{
    padding: $main-padding 0px;
    a{
        color: $azteca-dark-green;
        &:hover{
            color: darken($azteca-dark-green, 10%);
        }
    }
}


// Veinding Menu
//
// Vending sections.
section#vending-menu{
    padding: $main-padding 0px;
    div.card-body{
        padding: 1rem;
    }
}


// Azteca About
//
// Tierra Azteca Description
section#azteca-about{
    padding: $main-padding 0px;
    color: white;
    background: $azteca-dark-blue;

    h2{
        color: white;
        text-align: left;
    }

    img{
        border-radius: 0.618rem;
    }
}


// Azteca Mission
//
// Tierra Azteca Values & Goals
section#azteca-mission{
    padding: $main-padding 0px;

    a{
        font-weight: bold;
        color: $azteca-brown;
    }

    .card{
        width: 100%;
        border: 0px;

        img{
            width: 50%;
            margin-bottom: 1rem;
        }
    }

    h3{
        padding: 0px;
        margin-top: -20px;
    }

    .card-text{
        font-family: $paragraph-font;
        font-weight: 300;
    }
}


// Azteca Proposition & history
//
// Tierra Azteca Value Proposition
section#proposition,
section#azteca-history,
section#confirm,
section#vending-specs{
    padding: $main-padding 0px;
}


section#vending-machines{
    padding: 0px 0px $main-padding 0px;
    a{
        color: $azteca-dark-green;
        font-family: $paragraph-font;

        &.active{
            color: white;
        }
    }
}


// Contact Blue Slogan
//
// Contact blue slogan
section#blue-slogan{
    background: $azteca-dark-blue;
    padding: $main-padding 0px;

    h3{
        color: white;
    }
}
section#green-slogan{
    @extend section#blue-slogan;
    background: $azteca-green;
}


// Contact Form
//
// Contact form and map
section#contacto{
    padding: $main-padding 0px;
    font-family: $paragraph-font;

    input, textarea{
        font-family: $paragraph-font;

        &:focus{
            box-shadow: 0 2px 3px 1px $azteca-dark-blue;
        }
    }

    iframe{
        border-radius: 0.618rem;
        border: 2px solid darken($azteca-brown, 10%);
    }

    a{
        color: $azteca-marron;

        &:hover{
            color: $azteca-brown;
        }
    }
}


// Write Us
//
// Call to Message
section#write-us{
    padding: 0px 0px $main-padding 0px;

    small{
        margin-bottom: $main-padding;
        font-style: italic;
    }
}


// Slogan
//
// Tagline
section#slogan{
    background: $azteca-dark-orange;
    padding: $main-padding 0px;

    img{
        height: 5rem;
        width: auto;
    }

    h2{
        color: white;
    }
}


// Footer
//
// Contact Info
footer{
    background: $azteca-brown;
    padding: $main-padding 0px;
    color: white;
    font-family: $paragraph-font;

    h5{
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
    }

    a{
        color: white;
        text-decoration: underline;

        &:hover{
            color: $azteca-orange;
        }
    }

    ul.nav{
        padding-top: $main-padding;

        a{
            padding: 0px 1rem;
        }
    }

    #copyright{
        padding-top: $main-padding;
        font-size: ms(-1);
    }

    #developer{
        font-size: ms(-2);
    }
}
.grupoa-footer{
    background: $azteca-dark-blue;

    a:hover{
        color: $azteca-yellow;
    }
}
.vending-footer{
    background: $azteca-dark-green;

    a:hover{
        color: $azteca-green;
    }
}


// Coming Soon
//
// Hero page
section#coming{
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s0db32a7c6e92eca7/background/ic58d6b3b5009bbe7/version/1430982694/image.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
